@media(max-width: 768px){
  header .fa-bars{
    display: block;
  }
  header .nav{
    top: -100%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
    background-color: white;
    border: 2px solid var(--blue)!important;
    border-radius: 3px;
    width: 95%;
    opacity: 0;
  }
  header .nav ul{
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  header .nav ul li{
    text-align: center;
    margin: 8px 0px; 
  }
  header .nav ul li a{
    display: block;
  }
  
}