@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');
:root{
	--blue:#0188DF;
  	--black:#354046;
}
*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
	text-decoration: none!important;
	outline: none;
	transition: .3s;
}
header{
	width: 100%;
	padding: 20px 10px;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: white;
}
header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .container .logo{
	color: var(--black);
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 500;
}
header .container .logo span{
	color: var(--blue);
}
header .container ul{
	margin: 0px;
	padding: 0px;
}
header .container ul li{
	list-style-type: none;
	display: inline-block;
}
header .container ul li a{
	color: var(--black);
	padding-left: 30px;
	font-size: 16px;
	transition: .3s ease;
}
header .container ul li a:hover{
	color: var(--blue);
}
header .fa-bars{
	color: var(--blue);
	cursor: pointer;
	font-size: 30px;
	display: none;
}
header .fa-times{
	transform: rotate(180deg);	
}
header .nav-toggle{
	top: 30%!important;
	opacity: 1!important;
}
.header-active{
	box-shadow: 1px 10px 31px -9px rgba(0,0,0,0.75);
}

/* Home section Start */
.home{
	margin: 110px 10px;
}
.home h1{
	font-size: 50px;
	color: var(--black);

}
.home h1 span{
	color: var(--blue);
}
.home h3{
	font-size: 40px;
}
.home a.mybtn{
	background-color: var(--blue);
	color: white;
	width: 200px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;
	display: block;
	margin-top: 20px;
	padding: 10px;
}
.home a.mybtn:before{
	content: "";
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	transition: .2s linear;
	z-index: -1;
}
.home a.mybtn:hover:before{
	bottom: 10%;
}
/* About Section Start */
.about{
	background-color: #eee;
}
.about .box{
	margin-top: 30px;
}
.about .box h3{
	font-size: 25px;
}
.about .box h3 i{
	color: var(--blue);
}
/* Facilities Section Start */
.facilities{
	padding: 80px 0px;
}
.facilities h3{
	text-align: center;
	margin-bottom: 20px;
	font-size:40px;
}
.facilities h3 span{
	color: var(--blue);
}
.facilities .context-box{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.facilities .context-box .box{
	width: 25%!important;
	height: 180px;
	overflow: hidden;
	padding: 5px;
}
.facilities .context-box .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.facilities .context-box .box:hover img{
	transform: scale(1.5); 
}